@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 폰트 확인용 임시폰트 */
@font-face {
  font-family: "RiaSans-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: "SpoqaHanSansNeo-Regular";
}
:root {
  --main-color: #21bf48;
  --sub-color: #767676;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 img {
  width: 23.8rem;

  padding-top: 10rem;
  padding-bottom: 7rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 55rem;
  border-radius: 1rem;
}

.loginSelect {
  display: flex;
  width: 55rem;

  /* justify-content: center;
  align-items: center; */
}
.loginSelect button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 27.5rem;
  height: 8rem;

  font-size: 1.8rem;

  z-index: -60;

  border-radius: 1rem 1rem 0 0;

  background-color: white;
  border: 1px solid #c4c4c4;
  border-bottom: inherit;

  position: relative;
  top: 0.1rem;
}

.loginSelect button.selectedBtn {
  z-index: 50;
}

.loginSelect button.loginSeller {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 55rem;

  border-radius: 1rem;
  border: 1px solid #c4c4c4;

  padding: 3.6rem;

  box-sizing: border-box;

  position: relative;
  top: -1rem;

  background-color: white;
}
.loginInput input {
  width: 48rem;
  height: 6rem;
  border: inherit;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 0.6rem;
}
.loginInput input::placeholder {
  font-size: 1.6rem;
}

.loginInput button {
  width: 48rem;
  height: 6rem;

  color: white;
  font-weight: bold;
  font-size: 1.8rem;

  margin-top: 3.6rem;

  background-color: var(--main-color);
  border-radius: 0.5rem;
}

.userHelp {
  font-size: 1.6rem;
  margin-top: 3rem;

  display: flex;
  gap: 2.8rem;
}
.userHelp a {
  color: #333333;
}
.userHelp :first-child::after {
  content: "|";
  color: #333333;

  position: relative;
  left: 1.4rem;
}
